/* animations */
@keyframes animacion_1 {
  0% {
    color: nth($colores,1);
  }
  25% {
    color: nth($colores, 3);
  }

  50% {
    color: nth($colores, 3);
  }

  100% {
    color: nth($colores, 1);
  }
}