/* Variables Generales */
/*lista colores */
$colores: #ffffff, #f7d8b4, #ffd369, #edb870, #393e46;
/* MAps */
$textmaps: (
  titulo1: 10rem,
  titulo2: 4rem,
  titulo3: 3rem,
  titulo4: 2rem,
  parrafo1: 2rem,
  parrafo2: 1.5rem,
  parrafo3: 1rem,
);
